.form {
    border: 2px solid black;
    padding: 20px;
    width: 350px;
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
}

.error {
    color: rgb(246, 6, 6);
    font-size: 14px;
}

.button {
    display: block;
    margin: 15px auto 0;
    padding: 8px 20px;
}